<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capitals</title>
</head>
<body>
    <h1 class="countries">Countries and their Capitals</h1>

   <ul>
    {% for key,value in data.items() %}
    <li>{{key}} : {{value}}</li>
    {% endfor %}
   </ul>

</body>
</html>